IMAGE=${IMAGE:-steffenhoenig/tcos-dev}
SSH_AGENT=$([ -n "$SSH_AUTH_SOCK" ] && echo "-v $SSH_AUTH_SOCK:$SSH_AUTH_SOCK" || echo "")
PATH=/bin:/usr/bin:/sbin:/usr/sbin:$PATH
EXEC=${SHELL}

docker_base(){
        docker run \
	-v /etc/localtime:/etc/localtime \
        -v /etc/passwd:/etc/passwd \
        -v /etc/shadow:/etc/shadow \
	-v /etc/group:/etc/group \
	-v /etc/sudoers:/etc/sudoers \
	-v /var/run/docker.sock:/var/run/docker.sock \
	-v $(which docker):/usr/bin/docker \
        -v $HOME:$HOME \
	-e HOME=$HOME \
        `echo $SSH_AGENT` \
        -e SSH_AUTH_SOCK=$SSH_AUTH_SOCK \
        -e PS1="$PS1" \
        -e LS_COLORS=$LS_COLORS \
        -e LANG=$LANG \
        -e PATH=$PATH \
	"$@"
}

docker_chroot(){
	container="$1"
	command="${@:2}"
	if ! ( docker ps | awk '{print $NF}' | grep -w $container ) ; then
		( docker run -d --name $container $IMAGE ) || ( docker start $container )
	fi
	docker exec -it $container $(echo ${command})
}

nuke_d(){
    #deletes all container
    docker rm -f $(docker ps -aq)
    #delees all images
    docker rmi -f $(docker images -q)
}


D(){
        docker_base \
        --user="$USER" \
        --rm \
	-ti \
        --hostname="$(hostname)-D" \
        -e DISPLAY=unix:0 \
        -e USER=$USER \
        -v /tmp/.X11-unix:/tmp/.X11-unix:rw \
        --workdir $(pwd) \
	"$@" \
	"$IMAGE" \
        "$EXEC"
}

Z(){
	docker_base \
        --hostname="$(hostname)-Z" \
	-d \
	"$@" \
	"$IMAGE"
}
