D_IMAGE="tcos-dev:1.4"


function D() {
        docker run \
        --user="$USER" \
        --rm \
        -it \
        --hostname="$(hostname)[D]" \
        -v $HOME:$HOME \
        -v /tmp/.X11-unix:/tmp/.X11-unix:rw \
        -e DISPLAY=unix:0 \
        -v /etc/passwd:/etc/passwd \
	-v /etc/group:/etc/group \
	-v /etc/sudoers:/etc/sudoers \
        -v /var/www/openthinclient:/var/www/openthinclient \
        -v /var/www/openthinclient-upstream:/var/www/openthinclient-upstream \
        -v $SSH_AUTH_SOCK:$SSH_AUTH_SOCK \
        -e SSH_AUTH_SOCK=$SSH_AUTH_SOCK \
        -e PS1=$PS1 \
        -e LS_COLORS=$LS_COLORS \
        --workdir $(pwd) \
        "$D_IMAGE" "$SHELL"
}
