IMAGE=${IMAGE:-steffenhoenig/tcos-dev}
SSH_AGENT=$([ -n "$SSH_AUTH_SOCK" ] && echo "-v $SSH_AUTH_SOCK:$SSH_AUTH_SOCK" || echo "")
PATH=/bin:/usr/bin:/sbin:/usr/sbin:$PATH
EXEC=${SHELL}

docker_base(){
        sudo docker run \
	-v /etc/localtime:/etc/localtime \
        -v /etc/passwd:/etc/passwd \
        -v /etc/shadow:/etc/shadow \
	-v /etc/group:/etc/group \
	-v /etc/sudoers:/etc/sudoers \
        -v $HOME:$HOME \
	-e HOME=$HOME \
        `echo $SSH_AGENT` \
        -e SSH_AUTH_SOCK=$SSH_AUTH_SOCK \
        -e PS1="$PS1" \
        -e LS_COLORS=$LS_COLORS \
        -e LANG=$LANG \
        -e PATH=$PATH \
	"$@"
}

D(){
        docker_base \
        --user="$USER" \
        --rm \
	-ti \
        --hostname="$(hostname)-D" \
        -e DISPLAY=unix:0 \
        -e USER=$USER \
        -v /tmp/.X11-unix:/tmp/.X11-unix:rw \
        --workdir $(pwd) \
	"$@" \
	"$IMAGE" \
        "$EXEC"
}

Z(){
	docker_base \
        --hostname="$(hostname)-Z" \
	-d \
	"$@" \
	"$IMAGE"
}
