<?xml version="1.0" encoding="UTF-8"?>
<schema name="#PACKAGE#" type="application" version="1">
  <label value="#PACKAGE#" lang="en"/>
  <label value="#PACKAGE#" lang="de"/>
    <group name="General">
	 <label value="benutzerdefiniertes Symbol" lang="de"/>
	 <label value="custom icon" lang="en"/>
	 <entry value="" name="custom_icon"/>
    </group>
    <group name="Group0">
      <label value="wert0" lang="de"/>
      <label value="value0" lang="en"/>
      <entry value="" name="value0"/>
    </group>
    <group name="Group1">
      <label value="wert0" lang="de"/>
      <label value="value0" lang="en"/>
      <entry value="" name="value0"/>
      <choice value="defaultvalue" name="value1">
	      <option value="valueofoption0" name="option0"/>
	      <option value="valueofoption1" name="option1"/>
      </choice>
    </group>
</schema>
